/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url(../images/cover-image-dark.png);
  --main-background-color: #000028;
  --primary-title-color: #db00ff;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --title-decor-color: #000028;
  --content-text-color: #f1b2ce;
}
