:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --primary-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --button-color: #353430;
  --title-decor-color: #353430;
  --content-text-color: #353430;
  --section-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --main-background-color: #fff1f7;
    --primary-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --button-color: #353430;
    --title-decor-color: #353430;
    --content-text-color: #353430;
    --section-title-color: #353430;
  }

  .theme-auto .header__decorated-text {
    display: none;
  }
}

.theme-light .header__decorated-text {
  display: none;
}
