/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--page-background-color);
}

.main {
  background-color: var(--main-background-color);
  padding: 10px;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;  
}

.decorated-zone {
  position: relative;
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: rotate(180deg);
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header__decorated-text {
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
}

.header__decorated-text::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 43px;
  background-color: var(--accent-color);
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 75px;
  justify-self: end;
}

.header__title {
  font-size: var(--primary-title-font-size);
  line-height: 83%;
  color: var(--primary-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 65px;
}

.header__subtitle {
  margin-block-start: 55px;
  margin-block-end: 65px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-size: var(--main-font-size);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.concentration-difficulty {
  margin-block-start: 40px;
}

.section__title {
  color: var(--accent-color);
  line-height: var(--main-line-heght);
  padding-block-end: 20px;
}

.content__text {
  color: var(--content-text-color);
  line-height: var(--main-line-heght);
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.container {
  margin-block-start: 40px;
}

.content__subtitle {
  margin-block-start: 20px;
  font-weight: 400;
}

.link {
  text-shadow: 2px 1.2px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--content-text-color);
}