/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-background-color);
  -webkit-text-wrap-style: pretty;
  -moz-text-wrap-style: pretty;
  text-wrap-style: pretty;
}

/* HEADER */

.main {
  background-color: var(--main-background-color);
  padding: 10px 10px 14px 10px;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: rotate(180deg);
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header__decorated-text {
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
}

.header__decorated-text::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 43px;
  background-color: var(--accent-color);
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 64px;
  justify-self: end;
  padding-inline-end: 8px;
}

.header__theme-menu-item:hover {
  outline: 1px solid color-mix(in srgb, var(--accent-color) 40%, transparent);
  outline-offset: -1px;
}

.header__title {
  font-size: var(--primary-title-font-size);
  line-height: 83%;
  color: var(--primary-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 70px;
}

.header__subtitle {
  margin-block-start: 53px;
  margin-block-end: 65px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-size: var(--main-font-size);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  outline-offset: -1px;
}

/* MAIN */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;
  margin-block-end: 27px;
}

.section__title {
  color: var(--accent-color);
  line-height: var(--main-line-heght);
}

.content__text {
  color: var(--content-text-color);
  line-height: var(--main-line-heght);
  padding-block-start: 10px;
}

.content__subtitle {
  font-weight: 400;
}

.concentration-difficulty {
  margin-block-start: 30px;
}

.concentration-killers {
  margin-block-start: 60px;
}

.concentration-solutions {
  margin-block-start: 57px;
}

.concentration-solutions .content__title {
  margin-block-end: 20px;
}

/* LINKS */

.link {
  text-shadow: 2px 1.2px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--content-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-start: 61px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
    object-fit: cover;
}

/* FOOTER */

.footer {
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--primary-title-font-size);
  color: var(--primary-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  background-color: var(--main-background-color);
}

/* MEDIA */

@media (width >= 768px) {
  :root {
    --primary-title-font-size: 7.5rem;
  }

  /* MEDIA HEADER */

  .header {
    min-block-size: 768px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }

  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-inline-start: -20px;
    padding-block-start: 116px;
    font-size: var(--primary-title-font-size);
  }

  .header__subtitle {
    grid-column: 2;
    grid-row: 3;
    margin-block-end: 163px;
  }

  .header__decorated-text {
    top: 21px;
    right: 48px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  /* MEDIA MAIN */

  .main {
    padding: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(min-content, 236px) 1fr;
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

   .concentration-difficulty {
    margin-block-start: 41px;
   }

   .concentration-killers {
    margin-block-start: 90px;
  }

   .concentration-solutions {
    margin-block-start: 90px;
   }

  .concentration-difficulty .card:nth-child(3) {
    grid-column: 2;
  }

   .concentration-killers .card {
    grid-column: 1 / 4;
   }
   
   .card {
    grid-column: 2;
   }

   .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 98px;
    margin-block-end: 39px;
   }

   .content__title {
    grid-column: 1 / 4;
   }
   
   .gallery .gallery__image:nth-child(2) {
    grid-column: 1 / 3;
   }

    .gallery .gallery__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
   }

   .gallery .gallery__image:nth-child(4) {
    grid-row: 3 / 5;
   }

   .gallery .gallery__image:nth-child(6) {
    grid-column: 2 / 4;
   }
  }

@media (width >= 1024px) {
  
}
