/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
  --main-background-color: #000028;
  --primary-title-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor-color: #000028;
  --content-text-color: #F1B2CE;
  --main-font-size: 1.125rem;
  --main-line-height: 1.4625rem;
  --primary-title-font-size: 7.25rem;
}